@import url('bootstrap');
@import url('bootstrap-icons');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-card-img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.detail-img {
  width: 100%;
  object-fit: cover;
  height: 100%;

}

.rotate::before {
  rotate: 180deg;
}